.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
#header{
    position:relative;
    background-color: #25B33f;
    margin-bottom: 10px;
    background-image: url();
    margin-bottom: 75px;
}
body.page1{   
    background-color: #F7F7F7;
    font-family: 'Roboto Slab';}
.navveg{   
    background-color: #ffffff;
    margin-bottom:75px;
    padding: 20px;}
.search-form-input {
  margin-right: 50px;
  max-width: 400px;
  height: 35px;
  padding: 0 1rem;
  border: 0px solid #d5d5d5;
  background: transparent;
  font-family: Tahoma, sans-serif;
  font-size: 20px;
}
.search-form-btn {
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  margin: 0px;
  padding: 0px;
}
#content{
    position: relative;
    top: -78px;
}
.vnizad{
    right:20px;
    position: absolute;
}
.real{
    position: relative;
}
.inscription{   
    color:#74533e;
    margin-top: 183px;
    margin-bottom: 75px;
}
.but {
    border-radius: 0px !important;
    width: 160px;
    height: 55px;
    font-family: 'Roboto Slab';
    font-size:15px;
    margin-bottom: 300px;
}
.berry{ 
    white-space: nowrap;
    display: block;
    margin-bottom: 30px;
}
.title {
    font-size: 64px;
    color: #324950;
    margin-bottom: 10px;
}
.text{
    font-size: 20px;
    color: #324950;
}
.foot3{
    color:black;
    text-align: center;
}
#main{
    position:static;
}
#amain{
    background-color: #ededed;
    margin-bottom: 91px;
}
.size{
font-size: 60px;
}
.vegetable{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.kappa2{
    height: 240px;
}
.vegtext{
font-size: 24px;
text-align: center;
color:#57984C;
}
.vtext{
font-size: 18px;
text-align: center;
}
a.page1{
    font-weight: 600;
    color:black;
}
a.pgall{
    color:#57984C;
}
a:hover{
    color:black;  
}


/*2 Страница*/

.stars{
    font-size: 16px;
    color:#57984C;
    margin-bottom: 10px;
}
body{   
    font-family: 'Roboto Slab', serif;
}
hr {
    border: 1px solid black;
}
h1.t2{
    margin-top:40px;
    margin-bottom:20px ;
}
img.t2{
    float: left; 
    margin-right:30px;
}
p.t2{
    margin:30px 0;
}
p.t3{
    padding-top: 5px;
}
div.table{
    background: #fff;
    padding: 25px;
}
div.t2{
    margin-top:50px;
}
div.win{
    position:relative; 
    width: 350px;
    height: 321px;
    margin-right:30px;
    margin-bottom:30px;
}
div.win2{
    position:absolute; 
    bottom:0;
    background: #fff;
    height: 69px;
    width: 350px;
}
div.win3{
    padding-top:10px;
    color: #57984C;
    text-align: center;
}

/*3 + 4 Страница*/
.aaaa{
    width: 100%; 
    margin-top: 20px;
}
.sizad{
    width: 80%;
}
.aaaa2{
    margin-top:20px; 
}
.mini{
    font-size:12px;
}
.gn{
    color: green;
}
.jr{
    font-weight: 600;
}
.mar{
    margin-top: 10px;
    margin-bottom: 35px;
}
.mar1{
    margin-top: 40px;
}
.mar2{
    margin-right: 30px;
}
.butt{
    background-color: #57984C;
    border-radius: 20px;
    color:white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
hr.gr{
    border: 1px solid #008000;
}
li{
    margin-top: 10px;
    color: green;
}
li span {
    color: black; /* Цвет текста */
   }
.cen{
    text-align: center;
    background: #FFFFFF;
    padding-top:30px;
    padding-bottom: 30px;
}
input.pole{
    border: 1px solid #FFFFFF;
}
/*Нижняя Панель*/

.Rec{
    background: #2D3F45;
}
.footer{
    height:40px ;
    background-color:#324950;
	padding-bottom:40px;
}
.silk{
    color:#ffffff;
    margin-right: 30px;
	
    }
#Text1{
    top:25px;
    color:#ffffff;
	padding-bottom:50px;
}
.Icon{
    margin-right: 12px;
    vertical-align: baseline;
}
#sil{
	margin-top: 20px
}
#foot{
    color:#B9B9B9;
    text-align: center;
}

/*Конец нижней панели*/


